Source: doc-central
Section: web
Priority: optional
Maintainer: Diane Trout <diane@ghic.org>
Standards-Version: 3.9.5
Build-Depends: cdbs, debhelper (>= 9)
Vcs-Browser: https://salsa.debian.org/debian/doc-central
Vcs-Git: https://salsa.debian.org/debian/doc-central.git

Package: doc-central
Architecture: all
Depends: apache2 | httpd-cgi,
         doc-base (>= 0.8.10),
         info2www,
         python3,
         python3-debian,
         ${misc:Depends}
Recommends: w3m | www-browser
Description: web-based documentation browser
 Doc-Central is a tool to browse the documentation installed on your
 system using their doc-base entries.
